# Data Extraction

In [1]:
import os  
import numpy as np 
import pandas as pd
import re

In [2]:
train_pos_path="aclImdb_v1/aclImdb/train/pos"
train_neg_path="aclImdb_v1/aclImdb/train/neg"

test_pos_path="aclImdb_v1/aclImdb/test/pos"
test_neg_path="aclImdb_v1/aclImdb/test/neg"

In [3]:
train_pos_data=pd.DataFrame()
text=[]
label=[]
for filename in os.listdir(train_pos_path):
    if filename.endswith(".txt"):
        with open(os.path.join(train_pos_path,filename),'r') as file:
            text.append(file.read())
        label.append(1)

In [4]:
train_pos_data['Text']=pd.Series(text)
train_pos_data['Label']=pd.Series(label)

In [5]:
train_pos_data.head()

                                                Text  Label
0  Bromwell High is a cartoon comedy. It ran at t...      1
1  Homelessness (or Houselessness as George Carli...      1
2  Brilliant over-acting by Lesley Ann Warren. Be...      1
3  This is easily the most underrated film inn th...      1
4  This is not the typical Mel Brooks film. It wa...      1

In [6]:
train_neg_data=pd.DataFrame()
text=[]
label=[]
for filename in os.listdir(train_neg_path):
    if filename.endswith(".txt"):
        with open(os.path.join(train_neg_path,filename),'r') as file:
            text.append(file.read())
        label.append(0)

In [7]:
train_neg_data['Text']=pd.Series(text)
train_neg_data['Label']=pd.Series(label)
train_neg_data.head()

                                                Text  Label
0  Story of a man who has unnatural feelings for ...      0
1  Airport '77 starts as a brand new luxury 747 p...      0
2  This film lacked something I couldn't put my f...      0
3  Sorry everyone,,, I know this is supposed to b...      0
4  When I was little my parents took me along to ...      0

In [8]:
test_neg_data=pd.DataFrame()
text=[]
label=[]
for filename in os.listdir(test_neg_path):
    if filename.endswith(".txt"):
        with open(os.path.join(test_neg_path,filename),'r') as file:
            text.append(file.read())
        label.append(0)

In [9]:
test_neg_data['Text']=pd.Series(text)
test_neg_data['Label']=pd.Series(label)
test_neg_data.head()

                                                Text  Label
0  Once again Mr. Costner has dragged out a movie...      0
1  This is an example of why the majority of acti...      0
2  First of all I hate those moronic rappers, who...      0
3  Not even the Beatles could write songs everyon...      0
4  Brass pictures (movies is not a fitting word f...      0

In [10]:
test_pos_data=pd.DataFrame()
text=[]
label=[]
for filename in os.listdir(test_pos_path):
    if filename.endswith(".txt"):
        with open(os.path.join(test_pos_path,filename),'r') as file:
            text.append(file.read())
        label.append(1)

In [11]:
test_pos_data['Text']=pd.Series(text)
test_pos_data['Label']=pd.Series(label)
test_pos_data.head()

                                                Text  Label
0  I went and saw this movie last night after bei...      1
1  Actor turned director Bill Paxton follows up h...      1
2  As a recreational golfer with some knowledge o...      1
3  I saw this film in a sneak preview, and it is ...      1
4  Bill Paxton has taken the true story of the 19...      1

In [12]:

train_pos_data.to_csv("train_pos.csv",sep=',')
train_neg_data.to_csv("train_neg.csv",sep=',')
test_pos_data.to_csv("test_pos.csv",sep=',')
test_neg_data.to_csv("test_neg.csv",sep=',')